<h2>Edit task</h2>

<%= form_for(@task) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :details %><br>
  <%= f.text_area :details %><br><br>
  <%= f.radio_button :completed, "true" %>
  <%= f.label :completed, "complete" %>
  <%= f.radio_button :completed, "false" %>
  <%= f.label :incomplete, "incomplete" %>
  <%= f.submit %>
<% end %>
